<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuff Inventory</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Stuff Manager</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/categories"><i class="material-icons left">dataset</i>Categories</a></li>
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/stuff"><i class="material-icons left">list</i>Inventory</a></li>
                    <% if (isLoggedIn) { %>
                        <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                        <li><a href="/logout" class="btn red">Logout</a></li>                        
                    <% } else { %>
                        <li><a href="/login" class="btn blue">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <ul id="mobile-nav" class="sidenav">
             <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
             <li><a href="/stuff"><i class="material-icons left">list</i>Inventory</a></li>
             <% if (isLoggedIn) { %>
                <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                <li><a href="/logout" class="btn red">Logout</a></li>                        
            <% } else { %>
                <li><a href="/login" class="btn blue">Login</a></li>
            <% } %>
        </ul>
    </header>
    
    
    <div class="container">
        <div class="section" id="categoriesList">
            <h1>Categories Inventory:</h1>
            <table>
                <thead>

                    <tr>
                        <th>Category</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <% for (let i = 0; i < inventory.length; i++) { %>
                        <tr>
                            <td><%= inventory[i].name %></td>
                            <td> <!-- Fix this delete button-->
                                <a class="btn-small waves-effect waves-light red" href="/categories/item/<%= inventory[i].name %>/delete">
                                    <i class="material-icons right">delete</i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="section" id="categoriesAdd">
            <h2>Add Categories:</h2>
            <form method="post" action="/categories"> <!-- default action is the page's URL --> 
                <div class="row">
                    <div class="input-field col s6">
                        <label for="nameInput">Category Name:</label>
                        <input type="text" name="name" id="nameInput" class="validate" data-length="32" required>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit"><i
                        class="material-icons right">send</i>Submit</button>
            </form>
        </div>
    </div>
</body>
</html>